#single-choice {
    border: 1px solid black;
    border-radius: 0.5em;
    display:flex;
    margin: 0.5em;
    padding:0.5em;
}

.incorrect-choice {
    background-color: lightcoral;
}

.correct-choice {
    background-color: lightgreen;
}

/* https://stackoverflow.com/questions/44719980/ */
.no-click {
    pointer-events: none;
 }